*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.terminal__wrapper{
    border: 1px solid black;
    background-color: #121f1f;
    color: white;
    padding: 10px;
    height: 90vh;
}

.terminal__bar{
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    padding: 5px;
}
.terminal__body{
    padding: 20px;
    border: 1px solid black;
    height: 60vh;

}